#main{
  text-align: center;
  margin: auto;
  background-color: darkcyan;
}

/*  khung ben tren  */
#top{
  height: 60px;
  margin-bottom: 0px;
}
#top-header{
  color: aliceblue;
}

/* khung o giua */
#middle{
  height: 550px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

/* avatar name job*/
#top-middle{
  margin-top: 10px;
}

#avatar{
  width: 100px;
  height: 100px;
}
#name{
  margin-top: 5px;
  margin-bottom: 10px;
}
#job{
  margin-top: 5px;
  margin-bottom: 20px;
}

/* level */
#level{
  height: 100px;
  margin: 0px;
}

/* work */
#work{
  height: 90px;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
}

#icon{
  height: 80px;
}

.icon{
  width: 30px;
  height: 30px;
  margin: 30px 10px;
}

#button1{
  width: 100px;
  height: 40px;
  color: antiquewhite;
  background-color: green;
}
/* khung ben duoi */
#bottom{
  margin-top: 25px;
  height: 60px;
}

.width-middle{
  width: 400px;
  margin: auto;
}

.icon-work{
  margin-top: 10px;
  margin-bottom: 0px;
  width: 50px;
  height: 50px;
}

.colum{
  margin-left: 40px;
  margin-right: 40px;
}

.work-meg{
  margin: 0px;
}

.white-color{
  color: white;
}

.black-color{
  color: black;
}