div {
  width: 100px;
  height: 200px;
  background-color: rgb(98, 21, 221);
}

#div1 {
  width: 100px;
  height: 200px;
  background-color: rgb(228, 8, 8);
}

#div2 {
  width: 100px;
  height: 200px;
  background-color: rgb(13, 243, 117);
}

#div3 {
  width: 100px;
  height: 200px;
  background-color: rgb(15, 19, 224);
}

.special {
  width: 200px;
  height: 200px;
  background-color: rgb(0, 162, 255);
  margin-left: 200px;
}

.redText {
  color: rgb(255, 255, 255);
}
